 .u-section-1 {
  background-image: url("images/619725438-0.jpeg");
}

.u-section-1 .u-sheet-1 {
  min-height: 1060px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  margin: 415px 306px 60px 476px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 874px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 206px;
    margin-left: 376px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 669px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 96px;
    margin-left: 266px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 502px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 6px;
    margin-left: 176px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 316px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }
}